body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #654321;
}

h1 {
    text-align: center;
}

.drunken {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: auto;
}