body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(219, 84, 31);
}

h1 {
    text-align: center;
}

.sundubu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
}